.py-4 {
    margin: 0;
    padding: 0 !important;
}

.lab-greeting {
    height: 100vh;
    background-image: url(../img/wp.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bg-type {
    background-image: url(../img/type.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.fade-ct {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.divisi {
    background-color: snow;
}

.card {
    margin-top: 20px;
}